@font-face{
    font-family: myFont;
    src: url(Cinema.ttf);
}
.ali{
    font-family: myFont;
    font-size: 30px;
}
.amir{
    font-family: myFont;
    font-size: 30px;
}
.card-title{
    font-family: myFont;
    font-size: 30px;
}
